.product-card {
  width:90%;
    font-family: var(--base-font);
    text-align: center;
    margin: auto;
  }
  
  .card {

    border-radius: 25px;
    
  }
  .overlay {
    border-radius: 25px 25px 0 0 ;
  }
  .row>* {
    padding: 1rem 2rem;
    margin-top: 0;
   
  }
  .card-group .card .card-title {
    font-family: var(--base-font);
    font-weight: bold;
    color: var(--black);
  }
  
  .card-group .card .card-body {
    color: lightgray;
 
  }
  
  .card-group .card .overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }
  
@media screen and (width < 700px){
  /* .card {
    margin:2rem 5rem;
  } */
  .row>*  {
    padding-bottom:  2rem;
  }
}