.products-header-container{
    font-family: var(--base-font);
    margin: 3rem auto;
    width:75%;
    text-align: center;
    line-height: 1.5rem;
}
.product-container {
    position: relative;
  }
.product-container  {
    padding-top: 3rem;
    display: flex;
}

.product-underlay{
    position: absolute;
	width: 100%;
	z-index: -1;
}
.product-underlay-mobile, .product-underlay-mobile2, .product-underlay-mobile3, .product-underlay-mobile4 {
	display: none;
    position: absolute;
	z-index: -1;
}

.PhotoCards {
   z-index: 1;
}

.product-intro {
    margin: 0 auto;
}

@media screen and (width < 1400px) {
    .product-underlay-mobile{
        display: block;
        top:40%;
        z-index: -2;
    }
    .PhotoCards {
        z-index: 1;
     }
}

@media screen and (width < 768px) {
    .product-underlay-mobile{
        display: block;
        top: 0%;
    }
    .product-underlay-mobile2, {
        display: block;
        z-index: -1;
              top:40%;
    }
    .product-underlay-mobile3 {
        display: block;
        z-index: -1;
        top:35%;        
    }
    .product-underlay-mobile4 {
        display: block;
        z-index: -1;
        top:65%;        
    }
}